
<div class="row">
  <div class="span4">
    

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html: {class: "well"}) do |f| %>

    <fieldset>
      <legend><h2>Edit <%= resource_name.to_s.humanize %></h2></legend>
        <%= devise_error_messages! %>

        <%= f.input :email %>
        

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.input :password %> <i>(leave blank if you don't want to change it)</i>
        

        <%= f.input :password_confirmation %>

        <%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i>

        <div><%= f.button :submit, "Update" %></div>
      <% end %>
      <br>

      <legend><h4>Cancel my account</h4></legend>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
  </fieldset>

    <%= link_to "Back", :back %>
  </div>
</div>
